.card {
    /* background-color: rgb(18, 20, 20); */
    /* border: 1px solid black; */
    border-radius: 10px;
    width: 50%;
    height: auto;
    margin: 1rem;
    cursor: pointer;
    transition: transform 200ms
    
}

.card:hover {
    transform:scale(1.2);
}

.imageContainer {
    display: flex;
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    border-radius: 10px 10px 0 0;
}

.cardImage {
    width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px 10px 0 0;
}

.cardText {
    background-color: #ffff;
}


@media (min-width: 768px) {
    .card {
        transition: transform 300ms;
    }

    .card:hover {
        transform: scale(1.1);
    }
}