.card {
    /* background-color: rgb(18, 20, 20); */
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    height: auto;
    margin: 1rem;
    cursor: pointer;
}

.imageContainer {
    width: 100%;
    height: auto;
    /* overflow: hidden; */
    border-radius: 10px 10px 0 0;
}

.cardImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.cardText {
    background-color: #ffff;
}