.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    background-color: #ffff;
    padding: 0.5rem;
    /* margin-bottom: 1rem; */
}
.title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.iconContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.icon {
    width: 70%;
}


.formationInfos {
    height: auto;
}

/*Tablet*/

@media (min-width: 768px) {
    .main {
        height: auto;
    }
}