.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5rem 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* background-color: rgba(201, 150, 125, 0.4); */
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 30%; */
}

.nav {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 1 0;
}

.list li {
    padding: 0 0.5rem;
    text-decoration: none;
    cursor: pointer;
}

.logo {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: #000000;
    /* border: 1px solid #000000; */
    width: 20%;
    height: auto;
    text-decoration: none;
    cursor: pointer;
    margin-left: 0.5rem;
}

.logo a {
    text-decoration: none;
    color: #000000;
}

.icon {
    color: var(--icon-color); 
}

/*Tablette*/

@media screen and (min-width: 768px) {
    .menu {
        display: none;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* padding: 0.5rem 2rem; */
        min-height: 12vh;
        max-height: 16vh;
        background-color: var(--header-bg);


    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .list {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 1 0;
        height: 9vh;
    }

    .list li {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #000000;
        /* padding: 1rem 0.5rem; */
        cursor: pointer;
        height: 12vh;
        width: 100%;
        padding: 0;
        text-align: center;
        cursor: pointer;

    }

    .list li a {
        text-decoration: none;
        color: #000000;
    }

    .wallPaper {
        background-color: rgba(201, 150, 125, 0.4);
        width: 100%;
        height: 12vh;
        /* position: absolute; */
        display: flex;
        justify-content: center;
        align-items: center;
        /* transform: translateX(0); */
        width: 0%;
        transition: all 0.5s ease-in-out;
    }


    .wallPaper:hover {
        background-color: rgba(201, 150, 125, 0.8);
        /* transform: translateX(1rem); */
        width: 100%;
    }



    .project {
        background-image: url('/project.avif');
        background-size: cover;
    }

    .competences {
        background-image: url('/competences.webp');
        background-size: cover;
        background-position-y: 40%;
    }

    .experiences {
        background-image: url('/experiences.webp');
        width: calc(100vw * 0.8);
        background-size: cover;
    }

    .formations {
        background-image: url('/work_pix1.webp');
        width: calc(100vw * 0.8);
        background-size: cover;
    }

    .contact {
        background-image: url('/contact.webp');
        width: calc(100vw * 0.8);
        background-size: cover;
    }

    .logo {
        font-size: 1.5rem;
        font-weight: 700;
        color: #000000;
        cursor: pointer;
        margin-right: 2rem;
    }
}


/*Desktop*/

@media screen and (min-width: 992px) {
    .menu {
        display: none;
    }
    .header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        /* padding: 0.5rem 2rem; */
        height: 10vh;
    }

    .nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        padding: 1 0;
    }

    .list li {
        text-decoration: none;
        cursor: pointer;
    }

    .logo {
        font-size: 1.5rem;
        font-weight: 700;
        color: #000000;
        cursor: pointer;
    }
}