.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}