.languageSwitcher {
    display: flex;
    align-items: center;
}

.langBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: transparent;
    padding: 2px;
    transition: opacity 200ms;
}

.langBtn:hover {
    opacity: 0.75;
}

.langBtn:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.flag {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: block;
}