.mainPresentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    color: var(--text-color);
    min-height: 100vh;
    width: 100%;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.mainPresentation section {
    width: 100%;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 1rem;
    background-color: var(--background-color);
    color: var(--text-color);
    /* background-color: rgba(238, 205, 221, 0.2) */
    /* margin-bottom: 1rem; */
}

.presentationIntro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 90vh;
    /* margin-bottom: 1rem; */
    /* padding: 1rem; */
    background-image: var(--bg-img);
    background-size: cover;
}

.imageContainer {
   display: none;
}

.greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: auto;
    background-color: var(--quote-bg);
    color: var(--text-color);
    margin-bottom: 0.5rem;

}
.greetingTitle,
.greetingText,
.presentationContent ul li,
.presentationContent ul li span {
    color: var(--text-color);
} 
.greetingTitle {
    font-size: 1.7rem;
    font-weight: 700;
    /* color: rgb(0, 0, 0); */
    margin: 0.5rem 0.5rem 0.2rem 0.5rem;
}

.greetingText {
    font-size: 1.2rem;
    font-weight: 200;
    font-style: italic;
    margin: 0.5rem 0.5rem 2rem 0.5rem;
    letter-spacing: 0.1rem;
}

.presentationContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    /* background-color: rgba(238, 205, 221, 0.2); */
    background-color: var(--presentation-bg);
    padding-bottom: 0.5rem;

}

.presentationContent ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}


.presentationContent ul li {
    font-size: 1.2rem;
    border-bottom: 2px solid var(--text-color);
    list-style-type: none;
    margin: 1rem 0.5rem;
}

.presentationContent ul li span {
    font-weight: 700;
    color: var(--text-color);
    margin-right: 1rem;
}

.button {
    margin: 1rem 0;
}

/* rgb(39 85 4) */

/*small phone*/

@media only screen and (min-width: 600px) {
    
  }

/*Tablet*/

@media (min-width: 768px) {
    .presentation {
        /* margin-top: 10vh; */
        padding-top: 1.5rem;
        height: auto;
        background-color: rgba(238, 205, 221, 0.2);
    }
    .presentationIntro {
        background-image: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
        width: 100%;
        height: auto;
        padding: 1.5rem;
    }

    .imageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        height: auto;

    }

    .imageContainer img {
        width: 100% !important;
        height: 100% !important;
    }

    .greeting {
        width: 70%;
        height: auto;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        margin: 0.5rem 1rem;
    }
    .greetingTitle {
        width: 100%;
        text-align: left;
        font-size: 2rem;
    }

    .greetingText {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .line {
        width: 90%;
        height: 2px;
        background-color: var(--text-color);
        margin: 0.5rem 0;
        text-align: center;
    }

    .presentationContent {
        width: 100%;
        height: auto;
        background-color: rgba(238, 205, 221, 0.2);
        margin: 1rem;
    }

    .presentationContent ul li {
        font-size: 1.5rem;
    }
}

/*PC*/

@media (min-width: 992px) {
    
}